<h3>Посты</h3>
{{#if posts.length}}
  <ul class="collection">
    {{#each posts}}
      <li class="collection-item">
          <p>{{text}}</p>
          <h6>{{author}}</h6><span>{{createData}}</span>
      </li>
    {{/each}}
  </ul>
{{else}}
  <p>Нет Постов</p>
{{/if}}